extend layout2
block content
  header
    .header
      .fb-button
        #fb-root
        script.
          (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        .fb-like(data-layout='button_count', data-href='https://web.facebook.com/B%C3%A1o-M%E1%BB%9Bi-H%C3%B4m-Nay-1011030838965011/?ref=ts&fref=ts/')
        .fb-share-button(data-href='https://web.facebook.com/B%C3%A1o-M%E1%BB%9Bi-H%C3%B4m-Nay-1011030838965011/?ref=ts&fref=ts/', data-layout='button')
      a.h1(href='https://web.facebook.com/B%C3%A1o-M%E1%BB%9Bi-H%C3%B4m-Nay-1011030838965011/?ref=ts&fref=ts') Báo Mới 
      //- p bao moi

      .navbar-home
        nav.nav-links
          a.home(href='/') Trang chủ
          a.types(href='/hot') Hot
          a.types(href='/reads/xa-hoi') Xã Hội
          a.types(href='/reads/the-gioi') Thế Giới
          a.types(href='/reads/van-hoa') Văn Hóa
          a.types(href='/reads/kinh-te') Kinh Tế
          a.types(href='/reads/giao-duc') Giáo Dục
          a.types(href='/reads/the-thao') Thể Thao
          a.types(href='/reads/khoa-hoc-cong-nghe') Khoa Học - Công Nghệ
        .search-button
          .input-group
            input#search.form-control(type='text', placeholder='Tìm kiếm...', style='font-size: 16px')
            span.input-group-btn
              button#search-button.btn.btn-default(type='button')
                i.fa.fa-search(style='color:#FFF')
  body.grayback
    .main
      #container
        for article,i in articles
          div.grid-item.item
              img(src='/images/upload/#{article.thumbleImageName}')
              h5=article.title
              p.summary=article.description
              a(href="/article/get_article/#{article._id}") XEM BÀI NÀY
              .viewComments
                span.views(title='Views')=article.view
                span.comments(title='Comments') 2

    script(type='text/javascript').
      $(document).ready(function(){
      var $container=$('#container');
      $container.imagesLoaded( function() {
          $('#container').masonry();
      }); 
      });
