extends ../layout
block content
		if message
			p=message
		if alert
			p=alert
		if usermanage
			a#back(href="/users") Back
		else
			a#back(href="/user/home") Back
		if usermanage
			-var informationID= user._id
		else
			-var informationID= ''

		body#bodyuser
		form#informationform(name='signupform',method='post',action='/users/update/#{informationID}')
			h3 User profile
			p Firstname:
				br
				input#firstname(name='firstname',type='text',placeholder='Firstname',value= '#{user.firstname}')
			p Lastname:
				br
				input#lastname(name='lastname',type='text',placeholder='Lastname',value= '#{user.lastname}')
			p Pen name:
				br
				input#penname(name='penname',type='text',placeholder='Pen-name',value= '#{user.penname}')
			p Email:
				br
				input#email(name='email',type='text',placeholder='Email',value= '#{user.email}')
			button#btnSubmit(type="submit") Update
		//br
		if usermanage

			if user.active
				form#blocktheuser(name="blockuser",method="post",action="/users/block/#{user._id}")
					button#btnSubmit(type="submit") Block user
				//br
			else 
				form#unblockuser(nane="unblockuser",method="post",action="/users/block/#{user._id}")
					button#btnSubmit(type="submit") Un block user
				//br
			if user.root
				form#addnewrootuser(name="removerootuser",method="post",action="/users/root/#{user._id}")
					button#btnSubmit(type="submit") Remove form root users
				//br
			else
				form#addnewrootuser(name="addrootuser",method="post",action="/users/root/#{user._id}")
					button#btnSubmit(type="submit") Add new root user
				//br
		else
			form#changepasswordform(name='changepasswordform',method='post',action='/users/changepassword')
				h3 Change password 
				p Old password:
					input#oldpassword(name='oldpassword',type='password',placeholder='Old password')
				p New password:
					input#newpassword(name='newpassword',type='password',placeholder='New password')
				p Verify new password:
					input#retypenewpassword(name='renewpassword',type='password',placeholder='Retype new password')
				button#btnSubmit(type="submit") Change password