extends ../layout
block content
		if message
			p=message
		if alert
			p=alert
		if usermanage
			a(href="/users") back
		else
			a(href="/user/home") back
		if usermanage
			-var informationID= user._id
		else
			-var informationID= ''
		h3 user profile

		form#informationform(name='signupform',method='post',action='/users/update/#{informationID}')
			p Firstname:
				input#firstname(name='firstname',type='text',placeholder='your firstname',value= '#{user.firstname}')
			p Lastname:
				input#lastname(name='lastname',type='text',placeholder='your lastname',value= '#{user.lastname}')
			p Pen name:
				input#penname(name='penname',type='text',placeholder='your pen-name',value= '#{user.penname}')
			p Email:
				input#email(name='email',type='text',placeholder='your email',value= '#{user.email}')
			button#btnSubmit(type="submit") update
		br
		if usermanage

			if user.active
				form#blocktheuser(name="blockuser",method="post",action="/users/block/#{user._id}")
					button#btnSubmit(type="submit") block user
				br
			else 
				form#unblockuser(nane="unblockuser",method="post",action="/users/block/#{user._id}")
					button#btnSubmit(type="submit") un block user
				br
			if user.root
				form#addnewrootuser(name="removerootuser",method="post",action="/users/root/#{user._id}")
					button#btnSubmit(type="submit") romove form root users
				br
			else
				form#addnewrootuser(name="addrootuser",method="post",action="/users/root/#{user._id}")
					button#btnSubmit(type="submit") add new root user
				br
		else
			form#changepasswordform(name='changepasswordform',method='post',action='/users/changepassword')
				p Old password:
					input#oldpassword(name='oldpassword',type='password',placeholder='old password')
				p New password:
					input#newpassword(name='newpassword',type='password',placeholder='new password')
				p Verify new password:
					input#retypenewpassword(name='renewpassword',type='password',placeholder='retype new password')
				button#btnSubmit(type="submit") change password