extends ../layout
block content
    body#bodywrite
    style.
        .marginbutton{
        margin:3px;
        }
    script(type='text/javascript').     
        var datefunction = function(inputdate){
            var datecurrent=new Date($.now());
            var date= new Date(inputdate);
            var seconds= (datecurrent-date)/1000;
            var outtime=''
            if(seconds<3600)
                outtime= Math.round(seconds/60) + ' phút trước';
            else if(seconds<86400)
                outtime= Math.round(seconds/3600)+ ' giờ trước';
            else if(seconds<86400*5)
                outtime=Math.round(seconds/86400)+' ngày trước';
            else
                outtime=date;
            return outtime;
        }

        var showhidefunction=function(id){
                alert('sdgisadgsad')
                
            }
    h3 
    each article,i in articles
        if !article.published
            #fontarticle.container(class='container#{article._id}')
                h2=article.title
                .panel.panel-default
                    .panel-heading.hideshowbutton(class='showbutton#{article._id}')
                        time.friendly.time(datetime='2016-06-09T11:53:00+07:00' class='time#{article._id}')
                    div.panel-body(class='content#{article._id}')=article.content

                button.btn.btn-success.marginbutton(type='button',class='publish#{article._id}') publish it!
                button.btn.btn-danger.marginbutton(type='button' ,class='deletear#{article._id}') delete this article!
                br
                br
            script.
                $(document).ready(function() {
                var articleid='#{article._id}';
                var datecreted='#{article.date_added}'
                $('.time'+articleid).text(datefunction(datecreted));
                $(".showbutton"+articleid).click(function(event){
                    $(".content"+articleid).toggle();
                });
                $(".deletear"+articleid).click(function(event){
                    $.post( 
                      "/article/delete_article/"+articleid,
                      {},
                      function(data) {
                        //- $('.container'+articleid).css('display','none');
                        location.reload();
                      }
                
                   );
                   location.reload();
                });
                $(".publish"+articleid).click(function(event){
                    $.post( 
                      "/article/published/"+articleid,
                      {},
                      function(data) {
                        //- $('.container'+articleid).css('display','none');
                        location.reload();
                      }
                   );
                   location.reload();
                });

                });
    each article,i in articles
        if article.published
            #fontarticle.container(class='container#{article._id}')
                h2=article.title
                .panel.panel-default
                    .panel-heading.hideshowbutton(class='showbutton#{article._id}')
                        time.friendly.time(datetime='2016-06-09T11:53:00+07:00' class='time#{article._id}')
                    div.panel-body(class='content#{article._id}')=article.content
                button.btn.btn-danger.marginbutton(type='button' ,class='deletear#{article._id}') delete this article!
                br
                br
            script.
                $(document).ready(function() {
                    var articleid='#{article._id}';
                    var datecreted='#{article.date_added}'
                    $('.time'+articleid).text(datefunction(datecreted));
                    $(".showbutton"+articleid).click(function(event){
                    $(".content"+articleid).toggle();
                });
                $(".deletear"+articleid).click(function(event){
                    $.post( 
                      "/article/delete_article/"+articleid,
                      {},
                      function(data) {
                        //- $('.container'+articleid).css('display','none');
                        location.reload();
                      }
                   );
                   location.reload();
                });
                });
    script.
        $(".panel-body").hide();