extends ../layout
block content
  body#bodywrite
    style.
      .this {
      list-style-type: none;
      width: 70%;
      background-color: #f1f1f1;
      }
      li a {
      display: block;
      padding: 8px 0 8px 16px;
      text-decoration: none;
      }
      /* Change the link color on hover */
      li a:hover {
      background-color: #555;
      color: white;
      }
      .marginbutton{
        margin:3px;
      }
    script(type='text/javascript').     
        var datefunction = function(inputdate){
            var datecurrent=new Date($.now());
            var date= new Date(inputdate);
            var seconds= (datecurrent-date)/1000;
            var outtime=''
            if(seconds<3600)
                outtime= Math.round(seconds/60) + ' phút trước';
            else if(seconds<86400)
                outtime= Math.round(seconds/3600)+ ' giờ trước';
            else if(seconds<86400*5)
                outtime=Math.round(seconds/86400)+' ngày trước';
            else
                outtime=date;
            return outtime;
        }
    h4#fontarticle Published:
    ul#fontarticle.this
      each article,i in articles
        -var classnumber=i%2;
        if article.published
          li(class='background'+classnumber)
            a(href='/article/get_article/#{article._id}')= article.title 
              time.friendly.time(datetime='2016-06-09T11:53:00+07:00' class='time#{article._id}',style="float:right;margin-right:10%;")
          script.
            $(document).ready(function(){
              var articleid='#{article._id}';
              var datecreted='#{article.date_added}'
              $('.time'+articleid).text(datefunction(datecreted));
            });
    h4#fontarticle Not published yet:
    ul
      each article,i in articles
        if !article.published
          li#fontarticle
            p=article.title
            button.btn.btn-warning.marginbutton(type='button')
                span.glyphicon.glyphicon-pencil(aria-hidden='true') edit
            button.btn.btn-danger.marginbutton(type='button',class="deletearticle#{article._id}") 
                span.glyphicon.glyphicon-trash(aria-hidden='true') delete this article!
          br
          script.
            $(document).ready(function(){
              var articleid='#{article._id}';
              $(".deletearticle"+articleid).click(function(event){
                    $.post( 
                      "/article/delete_article/"+articleid,
                      {},
                      function(data) {
                        //- $('.container'+articleid).css('display','none');
                        location.reload();
                      }
                   );
                   location.reload();
                });
            });